<!DOCTYPE html>
<html>
	<head>
		<!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> for production-->
		<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@latest/dist/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="http://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id = "app">
			<div class = "header">
				<h1 v-if = "editing">Editing</h1>
				<h1 v-else = "editing">Adding</h1>
				<!-- id field, uneditable-->
				<label v-if="editing" for = "id">ID: </label>
				<input type ="text" v-if="editing" v-model = "toEdit" name = "id" readOnly>

				<!-- name field-->
				<label for="name">Name:</label>
				<input type="text" v-model = "workLink.name" name = "name">

				<!-- icon path field-->
				<label for="Icon">Icon:</label>
				<input type="text" v-model = "workLink.iconPath" name = "Icon">

				<!-- link address field-->
				<label for="Link">Link Address:</label>
				<input type="text" v-model = "workLink.linkPath" name = "Link">

				<button v-if = "editing" @click = "editLink">Edit</button>
				<button v-if = "editing" @click = "cancelEdit">Cancel Edit</button>

				<button v-else="editing" @click = "addLink">Add</button>
			</div>
			<div class = "FavLinks">
			<!--V1,  vanilla table. with a edit/delete button.-->
				<table class = "linkTable">
					<thead>
						<tr>
							<th>id</th>
							<th>Name</th>
							<th>Icon</th>
							<th>Link Address</th>
							<th>Date Created</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for = "(link,index) in links">
							<td>{{index}}</td>
							<td>{{link.name}}</td>
							<td>{{link.iconPath}}</td>
							<td>{{link.linkPath}}</td>
							<td>{{link.dateCreated}}</td>
							<td><button @click = toEditLink(index)>Edit</td>
							<td><button @click = deleteLink(index)>Delete</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
<script src = "./js/main.js" defer></script>
</html>
